@model FilmListeViewModel



<partial name = "_header">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
   
        
        
         <div class="row">
                <div class="col-md-3">
                    @await Component.InvokeAsync("Kategoriler")

                    <partial name = "_ara">
                        
                </div>

                <div class="col-md-9">
                  
                   <div class="row">

                       @foreach (var f in Model.Filmler)
                       {

                        <div class="col-md-4">
                           @await Html.PartialAsync("_film",f)
            
                        </div>
        
                       }

                    </div>

                </div>
          </div>
       
           

    
   
</body>

</html>