 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Film Festivali</h1>
                <p class="load">Film Festival'inin film izle sayfasında HD formatında ücretsiz olarak sunulan yerli ve yabancı filmler yer almaktadır. Hem akıllı telefonunuz üzerinden hem de masaüstü bilgisayarınızdan hiçbir ücret ödemeden en güzel filmleri evde sinema izleme keyfi ile izleyebilirsiniz... </p>
            </div>
        </div>
    </header>