 <div class="navbar bg-danger navbar-dark navbar-expand-sm">
      <div class="container">
          <a href="/" class="navbar-brand"><i class="fas fa-couch"></i>Filmkolik</a>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a href="/film listesi" class="nav-link">Film Listesi
                  </a>
              </li>

                <li class="nav-item">
                    <a  href="/admin/stars" class="nav-link">Aktör & Aktris</a>
                </li>

            
                
                  <li class="nav-item">
                    <a  href="/admin/filmler" class="nav-link">Admin Filmler</a>
                  </li>

                  <li class="nav-item">
                    <a  href="/admin/kategoriler" class="nav-link">Admin Kategoriler</a>
                  </li>

                
             
               
           
          </ul>

         
        
      </div>

  </div>